@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;600;700&display=swap');

:root {
    --slate: #d1d1d1;
    --background: #f3f3f3;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
}

.custom-btn {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
    margin-top: 0.5rem;
}

.custom-btn:hover {
    background-color: rgba(16, 16, 16, 0.94);
    color: white;
}

.bg-custom {
    background-color: transparent;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}


/* ----- Navbar related ---- */
.nav-link {
    color: var(--slate);
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

.nav-link:hover {
    color: blue;
}

.nav-link.not-intersecting {
    color: black;
}

.nav-link.not-intersecting:hover {
    color: blue;
}

.navbar-brand {
    padding-left: 1.5rem;
    color: var(--slate);
}

.navbar-brand.not-intersecting {
    padding-left: 1.5rem;
    color: black;
}

.navbar-toggler {
    border: none;
    color: transparent;
}

/*-------- Scroll Reveal --------*/
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/*-------- Title, Subtitile, Icons --------*/
.section-title {
    text-align: center;
}

.section-subtitle {
    padding-bottom: 10px;
    font-size: 15px;
}

.my-icons {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

/*-------- Home Section --------*/
.home-section {
    background-attachment: fixed;
    background-image: url(assets/images/helen.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home-content {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

/*-------- About Section --------*/
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
}

.profile-pic {
    height: auto;
    width: 250px;
    justify-self: center;
    align-self: center;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.about-p {
    text-align: left;
}

.about-content {
    margin-top: 5%;
}

.education-col1 {
    margin-top: 2rem;
    border-right: 1px solid black;
}

.education-col2 {
    margin-top: 2rem;
    border-left: 1px solid black;
}

.education-item {
    margin-bottom: 1.5rem;
}

/*-------- Skills Section --------*/
.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
}

.skills-content {
    margin-top: 5%;
    text-align: left;
}

.ss1 {
    margin-top: 3rem;
    margin-left: 5rem;
}

.accordion color {
    background-color: transparent;
}

.accordion-container {
    display: flex;
    justify-content: center;
}

/*-------- Projects Section --------*/
.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
}

.projects-content {
    margin-top: 8%;
}

.carousel {
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: var(--slate); /* Change to your desired hover background color */
    opacity: 0.3; /* Adjust the opacity as needed */
}

p.proj-text {
    font-size: 14px;
    text-align: left;
}

/*-------- Contact Section --------*/
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.contact-content {
    text-align: left;
}

/*-------- Footer Section --------*/
.foot{
    min-height: 10rem;
    border-top: solid 1px black;
}

.footer-button {
    margin-top: 5rem;
    font-size: 30px;
}

.social-icon {
    font-size: 2rem;
    color: gray;
}

.social-icon:hover {
    font-size: 2rem;
    color: black;
}